@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  --gray-blue: hsl(237, 18%, 59%);
  --red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --blue: hsl(236, 21%, 26%);
  --dark-blue: hsl(235, 16%, 14%);
  --black: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
  background-image: linear-gradient(
    to bottom,
    #16051f,
    #190a22,
    #1b0e26,
    #1e1129,
    #21142d
  );
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("./media/bg-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  width: 100%;
  height: 100%;
  background-image: url("./media/pattern-hills.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.container {
  max-width: 900px;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  margin-bottom: 80px;
  margin-top: 50px;
}

.countdown {
  display: flex;
}

.days,
.hours,
.minutes,
.seconds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.card {
  width: 150px;
  height: 160px;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 7px 7px 0px var(--black);
}

.desc {
  text-transform: uppercase;
  color: var(--gray-blue);
  letter-spacing: 4px;
}

.number {
  font-size: 5rem;
  color: var(--red);
}

.seconds {
  margin-right: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.icon {
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}

.icon:last-child {
  margin-right: 0;
}

.icon:hover {
  filter: contrast(200%) brightness(150%);
}

.attribution {
  margin-top: 150px;
}

.attribution a {
  color: var(--red);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.attribution a:hover {
  color: var(--white);
}

@media screen and (max-width: 741px) {
  .card {
    width: 100px;
    height: 110px;
  }
  .number {
    font-size: 3rem;
  }
}

@media screen and (max-width: 579px) {
  .card {
    width: 70px;
    height: 80px;
    box-shadow: 4px 4px 0px var(--black);
  }
  .number {
    font-size: 2rem;
  }
  .desc {
    font-size: 0.6rem;
  }
  .days,
  .hours,
  .minutes {
    margin-right: 15px;
  }
}

@media screen and (max-width: 579px) {
  .card {
    width: 50px;
    height: 60px;
    box-shadow: 4px 4px 0px var(--black);
  }
  .number {
    font-size: 1.5rem;
  }
  .desc {
    font-size: 0.5rem;
    letter-spacing: 2px;
  }
  .attribution {
    text-align: center;
  }
  .heading {
    text-align: center;
  }
}
